<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/applicatoin.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread]
				%logger{35} : %msg %n</pattern>
		</encoder>
	</appender>

	



	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.thymeleaf" level="INFO" />
	<logger name="org.hibernate.SQL" level="INFO" />
	<logger name="org.quartz.core" level="INFO" />
	<logger name="org.h2.server.web" level="INFO" />
	<logger name="org.mariadb.jdbc" level="INFO" />
	<logger name="org.mysql.jdbc" level="INFO" />

	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />


	<logger name="org.hibernate.stat" level="OFF" />

    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="OFF" />


	 <!-- JDBC ResultSetTable Logger를 위한 콘솔 전용 Appender -->
	    <appender name="jdbcConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder>
	            <!-- 날짜가 제외된 출력 형식 설정 -->
	            <pattern>%-5level - %msg%n</pattern>
	        </encoder>
	    </appender>
	    <!-- jdbc.resultsettable 로거에 대해 콘솔 전용 설정 -->
	    <logger name="jdbc.resultsettable" level="INFO" additivity="false">
	        <appender-ref ref="jdbcConsoleAppender" />
	    </logger>


	<root level="info">
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>


